<h1>Uptime Monitoring </h1>
<h2>Made Simple</h2>
<div class="blurb">We offer free, simple uptime monitoring for HTTP/HTTPS sites of all kinds. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae corrupti nemo ullam perferendis debitis incidunt quia culpa quod placeat excepturi tenetur harum, accusantium non quo iusto sint distinctio consectetur nulla.</div>
<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>

